<% content_for :page_title, "Home" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 shadow shadow-sm">
      <table class="table table-stripped">
        <thead class="bg-success text-white">
          <tr>
            <th>Business Name</th>
            <th>Description</th>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @businesses.each do |b| %>
            <tr>
              <td><%= b.name %></td>
              <td><%= b.description %></td>
              <td><%= link_to "show", business_path(b.id)%></td>
              <td><%= link_to "Delete", business_path(b.id), method: :delete, data: {confirm: "ARE YOU SURE!"}%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
